<!-- <a href="/new">Add an author</a> -->
<a [routerLink]="['/new']">Add an author</a>

<p>We have quotes by:</p>

<table>
    <tr>
        <th>author</th>
        <th>actions</th>
    </tr>
    <tr *ngFor = "let author of authors">
        <td>{{author.name}}</td>
        <td>
            <button [routerLink]="['/edit/' + author._id]">Edit</button>

            <form (submit)="onDelete(author._id)">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>