<a [routerLink]="['/new']">Add a quotable author</a>

<div class = "quotes">

    <p>We have quotes by:</p>

    <table>
        <tr>
            <th>author</th>
            <th>actions</th>
        </tr>
        <tr *ngFor = "let author of authors">
            <td>{{author.name}}</td>
            <td>
                <button [routerLink]="['/edit/' + author._id]">Edit</button>
                <button [routerLink]="['/showquotes/' + author._id]">View Quotes</button>
            </td>
        </tr>
    </table>

</div>