<div class = "links">
    <a [routerLink]="['/home']">Home</a> 
    <a [routerLink]="['/write/'+author._id]">Add a quote</a>
</div>

<p>Quotes by {{author.name}}:</p>

<table>
    <tr>
        <th>Quote</th>
        <th>Votes</th>
        <th>Actions available</th>
    </tr>
    <tr *ngFor="let quote of author.quotes">
        <td>"{{quote.quote}}"</td>
        
        <td>{{quote.votes}}</td>
        
        <td>
            <form (submit) ="onQuoteUpvote(quote.id, author._id, quote.votes)">
                <input class = "button" type="submit" value="Vote up">
            </form>
            
            <button class = "button">Vote down</button>
            <button class = "button">Delete</button>
        </td>
    </tr>
    
</table>
